.reactSelect__control {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 300;
  font-size: 14px;
  margin-left: 26px;
  margin-right: 26px;
  min-height: auto !important;
  border-radius: 0 !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.reactSelect__value-container {
  padding: 0 !important;
}

.reactSelect__value-container--has-value {
  color: var(--first-text-color);
}

.reactSelect__placeholder {
  margin: 0 !important;
  color: var(--second-text-color) !important;
}

.reactSelect__control--is-focused .reactSelect__placeholder {
  opacity: 0;
}

.reactSelect__input-container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
  color: var(--first-text-color) !important;
}

.reactSelect__indicators {
  margin-left: 16px;
}

.reactSelect__dropdown-indicator {
  width: 14px;
  height: 14px;
  background-color: var(--main-bg-color);
  background-image: var(--select-arrow);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.3s linear !important;
}

.reactSelect__control--menu-is-open .reactSelect__dropdown-indicator {
  transform: rotate(180deg);
}

.reactSelect__clear-indicator {
  display: none !important;
}

.reactSelect__dropdown-indicator svg,
.reactSelect__clear-indicator svg {
  display: none !important;
}

.reactSelect__indicator-separator {
  display: none !important;
}

.reactSelect__menu {
  overflow: hidden;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 300;
  font-size: 14px;
  min-height: auto !important;
  margin-top: 10px;
  margin-bottom: 0 !important;
  background-color: var(--main-bg-color) !important;
  border: 1px var(--border-color) solid;
  border-radius: 20px !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) !important;
}

.reactSelect__menu-list {
  padding: 0 !important;
}

.reactSelect__option {
  padding: 18px 26px !important;
  border-bottom: 1px var(--border-color) solid;
  transition: background-color 0.2s linear;
}

.reactSelect__option:last-child {
  border-bottom: none;
}

.reactSelect__option:hover {
  background-color: var(--input-color) !important;
  transition: background-color 0.2s linear;
}

.reactSelect__option--is-selected {
  color: var(--main-bg-color) !important;
  background-color: var(--accent-color) !important;
}

.reactSelect__option--is-selected:hover {
  color: var(--main-bg-color) !important;
  background-color: var(--accent-color) !important;
}

@media screen and (min-width: 660px) {
  .reactSelect__control {
    font-size: 16px;
  }

  .reactSelect__menu {
    font-size: 16px !important;
  }

  .reactSelect__option {
    padding: 12px 26px !important;
  }
}

@media screen and (min-width: 1200px) {
  .reactSelect__control {
    cursor: pointer !important;
  }

  .reactSelect__option {
    cursor: pointer !important;
  }
}
