@import "../../../styles/breakpoints", "../../../styles/typography",
  "../../../styles/buttons";

.root {
  @include p-medium;

  padding: 24px;
  border: 1px var(--accent-color) solid;
  border-radius: 20px;

  @include breakpoint(medium) {
    @include p-small;

    padding: {
      top: 35px;
      bottom: 44px;
      left: 44px;
      right: 44px;
    }
  }
}

.wrapper {
  display: grid;
  margin-bottom: 24px;

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
  }
}

.inputLabel {
  display: block;
  grid-column: 1 / 2;
  margin: {
    bottom: 14px;
    left: 26px;
  }

  color: var(--second-text-color);

  @include breakpoint(medium) {
    display: inline-block;
    margin: 0;
    min-width: 106px;
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
}

.addAnswerBtn {
  @extend %add-element-button;

  margin-right: auto;
}

.mainBtn {
  @include main-button(dark);

  margin-left: auto;

  &:last-child {
    margin-left: 20px;

    @include breakpoint(medium) {
      margin-left: 28px;
    }
  }
}
