@import "../../../styles/breakpoints", "../../../styles/animations";

.root {
  margin-top: 16px;

  @include breakpoint(medium) {
    margin-top: 30px;
  }
}

.loading {
  margin: 0 auto;
  width: 18px;
  height: 18px;
  border: solid 2px var(--accent-color);
  border: {
    radius: 50%;
    right-color: transparent;
    bottom-color: transparent;
  }

  transition: all 0.5s ease-in;
  animation: {
    name: rotate;
    duration: 1s;
    iteration-count: infinite;
    timing-function: cubic-bezier(0.27, 0.41, 0.69, 0.99);
  }

  @include breakpoint(medium) {
    width: 24px;
    height: 24px;
  }
}
