@import "./typography";

%submit-button {
  @include big-button;

  width: 380px;
  height: 44px;
  color: var(--first-text-color);
  background-color: transparent;
  border: 1px var(--first-text-color) solid;
  border-radius: 24px;
  transition: 0.2s linear;

  &:active {
    color: var(--main-bg-color);
    border-color: var(--first-text-color);
    background-color: var(--first-text-color);
  }

  @include breakpoint(large) {
    &:hover {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}

%link {
  @include p-small;

  color: var(--first-text-color);
  border-bottom: 1px var(--first-text-color) solid;
  transition: 0.2s linear;

  &:active {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }

  @include breakpoint(large) {
    cursor: pointer;

    &:hover {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}

%close-popup-button {
  --width: 18px;

  position: absolute;
  top: -28px;
  right: 0;
  width: var(--width);
  height: var(--width);
  background: {
    color: transparent;
    image: var(--close-popup-btn_mob);
    repeat: no-repeat;
    size: var(--width);
    position: contain;
  }

  transition: background-image 0.4s linear;

  &:active {
    background-image: var(--close-popup-btn_active);
  }

  @include breakpoint(medium) {
    top: -32px;
  }

  @include breakpoint(large) {
    cursor: pointer;

    &:hover {
      background-image: var(--close-popup-btn_active);
    }
  }
}
