@import "../../../styles/breakpoints", "../../../styles/typography",
  "../../../styles/buttons";

.form {
  margin: {
    top: 48px;
    bottom: 32px;
  }

  @include breakpoint(medium) {
    margin: {
      top: 90px;
      bottom: 60px;
    }
  }

  @include breakpoint(large) {
    margin-top: 120px;
  }
}

.submitBtn {
  @extend %submit-button;

  @include breakpoint(large) {
    cursor: pointer;
  }
}
