@import "../../../styles/breakpoints", "../../../styles/containers",
  "../../../styles/typography", "../../../styles/buttons",
  "../../../styles/animations";

.root {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: auto;
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--popup-dark-bg);
  backdrop-filter: blur(36px);

  -webkit-backdrop-filter: blur(18px);
  -webkit-overflow-scrolling: touch;

  &_visible {
    @include fade();

    display: flex;
    animation: fadeIn 0.2s forwards linear;
  }
}

.mainWrapper {
  position: relative;
  margin: 0 16px;
  padding: {
    top: 18px;
    bottom: 18px;
    left: 22px;
    right: 22px;
  }

  background-color: var(--main-bg-color);
  border-radius: 18px;
  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.06);

  @include breakpoint(medium) {
    padding: {
      top: 40px;
      bottom: 40px;
      left: 44px;
      right: 44px;
    }

    width: 460px;
    border-radius: 26px;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.08);
  }

  @include breakpoint(large) {
    padding: {
      right: 66px;
      left: 66px;
    }

    width: 510px;
  }

  &_visible {
    @include moving();

    animation: movingUp 0.2s forwards linear;
  }
}

.closeBtn {
  @extend %close-popup-button;
}

.mainBlock {
  padding-left: 30px;
  background: {
    image: var(--error);
    repeat: no-repeat;
    size: 18px;
    position: left top;
  }

  @include breakpoint(medium) {
    padding-left: 42px;
    background: {
      size: 20px;
      position-y: 6px;
    }
  }
}

.heading {
  @include h3;

  margin-bottom: 8px;
  color: var(--warning-color);

  @include breakpoint(medium) {
    margin-bottom: 12px;
  }
}

.message {
  @include p-normal;

  color: var(--first-text-color);
}
